.App {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.MainRow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}

.GraphCell {
  position: fixed;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
}

.ToolCell {
  position: fixed;
  left: 80%;
  top: 0;
  width: 20%;
  height: 80%;
}

.LowRow {
  position: fixed;
  left: 0;
  top: 80%;
  width: 100%;
  height: 20%;
}