.App {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.MainRow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
}

.GraphCell {
  position: fixed;
  left: 1%;
  top: 1%;
  width: 78%;
  height: 78%;
}

.ToolCell {
  position: fixed;
  left: 81%;
  top: 1%;
  width: 18%;
  height: 78%;
}

.LowRow {
  position: fixed;
  left: 1%;
  top: 80%;
  width: 98%;
  height: 19%;
}