.StudentMark {
  height: 100%;
  width: 100px;
  float: left;
}

.MarkNegative {
  font-size: x-large;
  color: red;
}

.MarkPositive {
  font-size: x-large;
  color: green;
}

.MarkNeutral {
  font-size: x-large;
  color: yellow;
}