.StudentMark {
  height: 100%;
  width: 100px;
  float: left;
}

.Mark {
  font-size: x-large;
  position	: absolute;
  top		: 50%;
}

.MarkNegative {
  @extend .Mark;
  color: red;
}

.MarkPositive {
  @extend .Mark;
  color: green;
}

.MarkNeutral {
  @extend .Mark;
  color: yellow;
}